html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #424242;

}

.rootApp {
    padding: 0;
    margin: 0;
    max-height: 100%;
    display: flex;
    flex-flow: column nowrap;

}
h1, h3, h3, h4, h5, h6{
    background-color: #424242;
    color:white;
}