html,body {
  min-height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: Roboto, sans-serif;
  /*overflow: hidden;*/
  height: 100%;
}

.rootApp{height: 100%; display:flex; flex-direction:column;}